@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3/2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  html,
  body {
    width: 100%;
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

body {
  font-family: "PT Sans", sans-serif;
}

::selection {
  background-color: $primary;
  color: $white;
}

::-webkit-scrollbar {
  width: 0.8rem;

  &-track {
    box-shadow: inset 0 0 5px $gray-600;
  }

  &-thumb {
    background: linear-gradient(to right, $gray-500, $gray-500, $gray-500);
    border-radius: 10px;

    &:hover {
      // background: darken($gray-600, 0.8);
      background: linear-gradient(to right, $primary, $primary, $primary);
    }
  }
}

.owl-carousel {
  position: relative;
}

.owl-nav {
  & div {
    background-color: transparent !important;
    position: absolute;
    top: 50%;
    opacity: 0.5;

    i {
      color: $primary;
    }

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
    }

    &:hover {
      opacity: 1;
    }
  }
}

.side-nav-main {
  section {
    &:not(:last-of-type) {
      @include skew-section;
    }

    &:last-of-type {
      margin-top: -4rem;
      padding-top: 7rem !important;
    }

    h2 {
      color: $primary;
    }

    &:nth-of-type(even) {
      background: $success;
    }

    &:nth-of-type(odd) {
      background: $light;
    }

    &:first-of-type {
      margin-top: -2rem !important;
      padding-top: 5rem !important;
    }
  }

  .title-container {
    position: relative;
    z-index: 1000;
  }
}

.text-added-light {
  color: $added-light;
}

// h3.h6 {
//     @include media-breakpoint-down(md) {
//         font-size: .5rem !important;
//     }

//     @include media-breakpoint-down(sm) {
//         font-size: 2.5rem !important;
//     }
// }

// .h6 {
//     @include media-breakpoint-down(sm) {
//         font-size: 1.2rem !important;
//     }
// }
