.navbar-underline {
    box-shadow: 0 4px 2px -2px $secondary;
}

.side-nav-container {
    line-height: 1;
}

.navbar-dark {
    .active {
        color: $white !important;
    }
}

.navbar-light {
    .active {
        color: $dark !important;
    }
}
