// Colors
$primary: #00416A; 
$secondary: #1560bd; 
$info: #d0e5e7; 
$success: #ABD9A5; 

@import "node_modules/bootstrap/scss/bootstrap";

@import "../scss/variables"; 
@import "../scss/utilties"; 
@import "../scss/header"; 
@import "../scss/home"; 
@import "../scss/community"; 
@import "../scss/base"; 
@import "../scss/variables"; 
@import "../scss/navbar"; 
@import "../scss/animations"; 
@import "../scss/composition"; 

